doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='robots', content='noindex, nofollow')
  body
    #main
    script(src=`/${assetsManifest.runtimeJs}`, type='text/javascript', defer=true)
    script(src=`/${assetsManifest.js}`, type='text/javascript', defer=true)
    script(src="/socket.io/socket.io.js")
    script.
      var socket = io();